@import "../base/color";







.header-area {
  padding: 20px 0;
  
  .logo {
    float: left;
    width: 220px;
    a{
      margin-left: 22px;
      text-transform: uppercase;
      font-weight: 700;
      &:hover{

        color: $primary_color;

      }

    }
  }
  .menu {
    float: right;
    width: 940px;
    ul {
      text-align: right;
      li {
        display: inline-block;
        a {
          margin-left: 20px;
          font-size: 18px;
          font-weight: 500;
            &:hover{

              color: $primary_color;

            }
        }
      }
    }
  }
}