@import "../base/color";
@mixin h4_mixin {
  text-transform: capitalize;
  font-size: 45px;
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  padding-bottom: 25px;
  &:before {
    position: absolute;
    content: "";
    width: 40px;
    height: 2px;
    background-color: $primary_color;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
@mixin p_mixin{
  max-width: 500px;
  margin: 0 auto;
}
